.col-6 {
  width: 50%;
  float: left;
}
.text-center {
  text-align: center;
}


* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 400px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}
.show-border {
  border-right: 2px solid black;
}
.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  /* opacity: 0.7; */
  border-radius: 50%;
}