<h2>{{this.title}}</h2>

{{!-- first/last comparison --}}
<div class="img-comp-container">
  <div class="img-comp-img">
    <img src={{this.firstImageUrl}} height="400px">
  </div>
  <div class="img-comp-img img-comp-overlay-{{this.title}} {{if this.comparing "show-border"}}">
    <img src={{this.secondImageUrl}} height="400px">
  </div>
</div>
{{#unless this.comparing}}
  <button {{on "click" this.toggleCompare}}>Compare</button>
{{/unless}}

{{!-- <h2>Previous Posts</h2>
{{#each this.redditPostsQuery.content as |post|}}
  <div>
    <h3>{{post.title}}</h3>
    <div><a href="https://www.reddit.com/r/CollegeBasketball/comments/{{post.redditId}}">Discuss on Reddit</a></div>
    <img height="200" src={{post.thumbnailUrl}} alt="{{post.title}} Thumbnail">
  </div>
{{/each}}
<div>
  <hr>
  {{#each redditYearsQuery as |year|}}
    {{#link-to 'imperialism-year' year}}{{year}}{{/link-to}}
  {{/each}}
</div> --}}
{{yield}}